/* Hide lazyload images if JavaScript is not supported */
.no-js .lazy {
    display: none;
}

/* Avoid empty images to appear as broken */
img:not([src]):not([srcset]) {
    visibility: hidden;
}

/* Fix for images to never exceed the width of the container */
img {
    max-width: 100%;
}